.container {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  margin: 5px 20px 0;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: minmax(50px, auto) 1fr;
  grid-template-areas: 
    "buttons buttons"
    "images search";
  grid-gap: 50px;
}

#buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}

#search {
  grid-area: search;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}

#images {
  grid-area: images;
}

.search-item {
  margin: 5px;
  padding: 5px;
  background-color: #7A8CF6;
  color: #fff;
}

#add-animal {
  margin: 5px;
  padding: 5px;
  background-color: #7A8CF6;
  color: #fff;
}