body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  color: #444;
  background-image: url('./images/white_carbon.png');
}

.container {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  margin: 5px 20px 0;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: minmax(50px, auto) 1fr;
  grid-template-areas: 
    "buttons buttons"
    "images search";
  grid-gap: 25px;
}

#buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}

#search {
  grid-area: search;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

#images {
  grid-area: images;
  display: flux;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 5px;
}

.search-item {
  margin: 5px;
  padding: 7px;
  background-color: #7A8CF6;
  color: #fff;
  border-radius: 10px;
  border: 0;
}

.result-item {
  margin: 5px;
  padding: 5px;
  border: 3px solid #7A8CF6;
  border-radius: 10px;
  flex: 1;
  display: inline-block;
}

#add-animal {
  margin: 5px 0;
  padding: 7px;
  background-color: #7A8CF6;
  color: #fff;
  border-radius: 10px;
  border: 0;
}

#animal-input {
  border-radius: 5px;
  border: 1px solid #444;
  padding: 5px;
}