/* Setting up the layout */
.container {
  display: grid;
  margin: 5px 20px 0;
  grid-template-areas:
    "buttons buttons buttons buttons"
    "images images images search";
}

#buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
}

#search {
  grid-area: search;
}

#images {
  grid-area: images;
}

button {
  padding: 5px;
  background-color: #7A8CF6;
  color: #fff;
}

.search-item {
  margin: 5px;
}
